.f-j-se {
    display: flex;
    justify-content: space-evenly;
}


.f-j-c {
    display: flex;
    justify-content: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-gap-50 {
    gap: 50px;
}

.f-d-col {
    flex-direction: column;
}

.f-as-end {
    align-self: flex-end;
}

.f-as-center {
    align-self: center;
}